* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

/* Utility */

.hide {
  display: none;
}

.show {
  display: inline-block;
}

/* ====== NAV ====== */

nav {
  padding: 20px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  outline: none;
}

.hamburger i {
  font-size: 1.6rem;
  padding: 10px 12px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: #a222fb;
  z-index: 3;
}

.logo {
  place-self: start;
}

.logo h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: 400;
  place-self: start;
  color: #a222fb;
}

.logo img {
  width: 200px;
  position: absolute;
  top: -40px;
  left: 10px;
}

.languages {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-self: end;
}

.all-lang {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  position: absolute;
  right: 50px;
  top: 29px;
}

.icon-lang {
  font-size: 1.5rem;
  color: #ffffff;
  background: #a222fb;
  cursor: pointer;
  text-align: center;
  width: 40px;
  padding: 5px;
  position: absolute;
  right: 0;
}

.lang a {
  width: 36px;
  padding: 5px 8px;
  text-decoration: none;
  color: black;
}

.selected a {
  background: #a222fb;
  color: white;
  border-radius: 290486px;
  cursor: auto;
}

/* ====== HEADER ====== */

header {
  text-align: center;
  padding-top: 80px;
  color: #120e2b;
  padding-bottom: 200px;
}

header h1 {
  font-size: 3rem;
}

header p {
  padding: 30px 0;
  font-size: 1.3rem;
  color: #120e2b;
}

.video-presentation {
  text-decoration: underline;
  cursor: pointer;
  color: #120e2b;
  font-size: 1.3rem;
}

.personal-emoji {
  width: 220px;
  padding-top: 40px;
}

.header-bg {
  width: 720px;
  position: relative;
  z-index: 1;
  bottom: 30px;
}

/* 
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.bubble {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: #a222fb;
  border-radius: 50%;
  opacity: 0.8;
  animation: flying 5s infinite ease-in;
}

.bubble:nth-child(1) {
  width: 15px;
  height: 15px;
  left: 10%;
  bottom: -10%;
  animation-duration: 9s;
}

.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  bottom: -10%;
  animation-duration: 7s;
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 25%;
  bottom: -10%;
  animation-duration: 10s;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  width: 24px;
  height: 24px;
  left: 35%;
  bottom: -10%;
  animation-duration: 4s;
  animation-delay: 3s;
}

.bubble:nth-child(5) {
  width: 25px;
  height: 25px;
  left: 68%;
  bottom: -10%;
  animation-duration: 5s;
  animation-delay: 4s;
}

.bubble:nth-child(6) {
  width: 30px;
  height: 30px;
  left: 72%;
  bottom: -10%;
  animation-duration: 6s;
  animation-delay: 7s;
}

.bubble:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 74%;
  bottom: -10%;
  animation-duration: 9s;
  animation-delay: 5s;
}

.bubble:nth-child(8) {
  width: 36px;
  height: 36px;
  left: 88%;
  bottom: -10%;
  animation-duration: 7s;
  animation-delay: 13s;
}

.bubble:nth-child(9) {
  width: 12px;
  height: 12px;
  left: 94%;
  bottom: -10%;
  animation-duration: 12s;
  animation-delay: 11s;
}

@keyframes flying {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }

  50% {
    transform: translateX(100px);
  }

  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
} */

/* ====== MIDDLE BANNER ====== */

.middle-banner {
  background: #120e2b;
  color: white;
  position: relative;
  padding: 140px 0 210px 0;
  grid-template-columns: 1fr 2fr;
  display: grid;
  place-content: center;
}

.about {
  opacity: 1;
}

.about,
.skills {
  padding: 40px 100px 100px 20px;
  text-align: center;
  margin: 0 auto;
}

.about h2,
.skills h2,
.show-works h2,
.call-action h2 {
  font-size: 2rem;
  padding: 20px;
  font-weight: 700;
}

.about p {
  margin: 0 auto;
  max-width: 700px;
}

.about p,
.call-action p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: #fff;
}

.curriculum {
  position: relative;
  top: 60px;
}

.curriculum a {
  padding: 10px 20px;
  width: 110px;
  font-size: 1.1rem;
  border: 2px solid white;
  color: white;
  border-radius: 290486px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 200ms;
  text-decoration: none;
}

.curriculum a:hover,
.curriculum a:active {
  background: white;
  color: #a222fb;
  transform: scale(1.1);
}

.curriculum i {
  padding-right: 15px;
}

/* Banner nav */

.banner-nav {
  padding-top: 50px;
  color: #e2e2e2;
}

.banner-nav h4 {
  cursor: pointer;
}

.about-nav {
  display: inline-block;
}

.skills-nav {
  display: inline-block;
}

/* ====== SKILLS ====== */

.skills {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.22, 0.68, 0, 1.71);
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
  place-items: center;
  padding-top: 20px;
  margin: 0 auto;
}

.skills i {
  font-size: 3rem;
  cursor: pointer;
}

.skills span {
  width: 90px;
  background: #a222fb;
  color: white;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 18px auto;
  opacity: 1;
  transition: 0.6s opacity;
}

.skills li:hover>span {
  opacity: 1;
}

/* ====== SOCIALS ====== */

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  place-items: center;
}

.socials i {
  font-size: 3rem;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.social i:hover,
.social i:active {
  transform: scale(1.1);
}

.socials {
  padding-top: 30px;
}

.social a {
  text-decoration: none;
  color: white;
}

/* ====== MY RECENT WORKS ====== */

.show-works {
  position: relative;
  padding: 50px 0;
  bottom: 130px;
  background: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
}

.show-works p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.show-works h4 {
  font-size: 1.4rem;
}

.works {
  display: grid;
  place-items: center;
  text-align: start;
  padding: 60px 0;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px;
  max-width: 1260px;
  margin: 0 auto;
}

.work {
  box-sizing: border-box;
  max-width: 350px;
  height: 260px;
  width: 80%;
  margin: 0 auto;
  background-color: #f5f4ff;
  color: #120e2b;
  padding: 20px;
  padding: 20px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 10px;
  transition: transform 100ms ease-in-out;
}

.work-title {
  padding: 5px;
  position: relative;
}

.work-title h4 {
  padding-bottom: 5px;
}

.work-title:after {
  content: '';
  position: absolute;
  left: 6px;
  width: 50px;
  height: 4px;
  background-color: #120e2b;
}

.work:hover,
.work:active {
  transform: scale(1.05);
  background-color: #120e2b;
  color: #fff;
}

.work:hover .work-title:after,
.work:active .work-title:after {
  background-color: #fff;
}

.work:hover .work-link a,
.work:active .work-link a {
  color: #fff;
}

.work-link {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
}

.work-link a {
  text-decoration: none;
  color: #120e2b;
  padding: 0 5px;
}

.work-link i {
  font-size: 1.4rem;
}

/* ======= CALL TO ACTION ====== */

.call-action {
  width: 70%;
  margin: 0 auto;
  background: #dfdcff;
  color: #120e2b;
  padding: 50px;
  border-radius: 45px;
  box-shadow: 0 0 10px 0 #22222259;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  position: relative;
  top: 70px;
}

.call-action a {
  color: #120e2b;
  outline: none;
  transition: 150ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.call-action h2 {
  width: 250px;
  text-align: center;
}

.call-action .col:first-of-type {
  border-right: 4px solid #fff;
}

.call-action .col:last-of-type {
  border-left: 4px solid #fff;
}

.call-action p {
  color: #120e2b;
  text-align: center;
  padding: 5px 0;
}

/* ======= FOOTER ======= */

footer {
  background: #120e2b;
  color: #ffffffd6;
  padding: 70px 80px 80px 80px;
  text-align: center;
}

.logo-footer img {
  width: 200px;
}

.philo-phrase {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.copyright {
  padding-top: 50px;
}

footer .socials {
  width: 20%;
  margin: 0 auto;
}

.socials i {
  font-size: 2rem;
}

/* ======= MEDIA QUERY ======= */

@media only screen and (max-width: 1300px) {
  .call-action {
    width: 85%;
  }

  .header-bg {
    width: 680px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .header-bg {
    width: 600px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 1100px) {
  .middle-banner {
    padding: 0 0 210px 0;
  }

  .header-bg {
    width: 500px;
    padding-top: 140px;
  }
}

@media only screen and (max-width: 1000px) {
  .middle-banner {
    padding: 0 0 210px 0;
    grid-template-columns: 1fr;
  }

  .header-bg {
    display: none;
  }

  .about,
  .skills {
    padding: 40px 100px 100px 100px;
  }
}

@media only screen and (max-width: 920px) {
  header {
    padding-top: 50px;
  }

  .middle-banner {
    padding: 60px 0 200px 0;
  }

  .about,
  .skills {
    padding: 20px 50px 50px 50px;
  }

  .call-action {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    text-align: center;
    grid-gap: 0px;
  }

  .call-action p {
    border-left: none;
    border-right: none;
    padding: 15px 0;
  }

  .call-action .col:first-of-type {
    border-bottom: 3px solid #120e2b;
    border-right: none;
  }

  .call-action .col:last-of-type {
    border-top: 3px solid #120e2b;
    border-left: none;
  }

  .header-bg {
    width: 500px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    text-align: center;
    padding: 30px;
  }

  .logo img {
    position: relative;
    display: none;
  }

  .curriculum button {
    background: white;
  }

  .languages {
    grid-template-columns: 1fr;
  }

  .all-lang {
    place-self: center;
    position: initial;
  }

  .lang a {
    color: #a222fb;
    background: white;
    border-radius: 290486px;
  }

  .selected a {
    background: #a222fb;
    color: white;
  }

  .hamburger {
    display: inline;
  }

  footer .socials {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding: 0 10px;
    display: grid;
    place-content: center;
  }

  .header-bg-div {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .show-works {
    width: 100%;
  }

  .middle-banner {
    padding: 0px 0 250px 0;
  }

  .about,
  .skills {
    padding: 20px;
  }
}