* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}


/* Utility */

.hide {
  display: none;
}

.show {
  display: inline-block;
}

/* ====== NAV ====== */

nav {
  padding: 20px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;
}

.logo h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: 400;
  place-self: start;
  color: #002fa7;
}

.curriculum button {
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 2px solid #002fa7;
  color: #002fa7;
  border-radius: 290486px;
  text-transform: uppercase;
  cursor: pointer;
}

.curriculum button:hover {
  background: #002fa7;
  color: white;
}

.languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.lang a {
  width: 36px;
  padding: 5px 8px;
  text-decoration: none;
  color: black;
}

.selected a {
  background: #002fa7;
  color: white;
}

/* ====== HEADER ====== */

header {
  text-align: center;
  padding-top: 80px;
}

header h1 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.79);
}

header p {
  padding-top: 30px;
  font-size: 1.3rem;
  color: #000000c9;
}

.personal-emoji {
  width: 220px;
}

.header-bg-div {
  height: 400px;
}

.header-bg {
  width: 800px;
  position: relative;
  top: 40px;
  z-index: 1;
}

/* ====== MIDDLE BANNER ====== */

.middle-banner {
  /* background: #0a2235; */
  background: #002fa7;
  color: white;
  position: relative;
  padding: 140px 0 210px 0;
}

.about {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(.22, .68, 0, 1.71);
}

.about,
.skills {
  padding: 40px 100px 100px 100px;
  text-align: center;
  margin: 0 auto;
}

.about h2,
.skills h2,
.show-works h2,
.call-action h2 {
  font-size: 2rem;
  padding: 20px;
  font-weight: 700;
}

.about p {
  margin: 0 auto;
  max-width: 700px;
}

.about p,
.call-action p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: #ffffffc9;
}

/* Banner nav */

.banner-nav {
  padding-top: 50px;
  color: #e2e2e2;
}

.banner-nav h4 {
  cursor: pointer;
}

.about-nav {
  display: inline-block;
}

.skills-nav {
  display: inline-block;
}

/* ====== SKILLS ====== */

.skills {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(.22, .68, 0, 1.71);
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  list-style-type: none;
  place-items: center;
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.skills i {
  font-size: 3rem;
  cursor: pointer;
}

.skills span {
  width: 90px;
  background: white;
  color: #002fa7;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 18px auto;
  opacity: 0;
  transition: .6s opacity;
}

.skills li:hover>span {
  opacity: 1;
}

/* ====== SOCIALS ====== */

.socials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  place-items: center;
}

.socials i {
  font-size: 3rem;
}

.socials {
  padding-top: 30px;
}

/* ====== MY RECENT WORKS ====== */

.show-works {
  position: relative;
  padding: 50px 0;
  bottom: 130px;
  background: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
}

.show-works p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.works {
  display: grid;
  justify-items: center;
  padding: 60px 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}

.work {
  width: 350px;
  background: #120e2b;
  color: #fff;
  padding: 100px;
  border-radius: 15px;

}



/* ======= CALL TO ACTION ====== */

.call-action {
  width: 70%;
  margin: 0 auto;
  background: #002fa7;
  color: white;
  padding: 50px;
  border-radius: 45px;
  box-shadow: 0 0 10px 0 #22222259;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  position: relative;
  top: 70px;
}

.call-action button {
  padding: 15px 20px;
  background: transparent;
  color: white;
  font-size: 1rem;
  border-radius: 2000px;
}

/* ======= FOOTER ======= */

footer {
  background: #6579ad;
  color: #ffffffd6;
  padding: 100px 80px 80px 80px;
  text-align: center;
}

footer .logo h1 {
  color: white;
}

.philo-phrase {
  padding-top: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.copyright {
  padding-top: 50px;
}

footer .socials {
  width: 30%;
  margin: 0 auto;
}