body,
html {
  overflow-x: hidden;
}

body {
  font-family: 'ABeeZee', sans-serif;
  background-color: rgb(246, 246, 244);
  color: #000;
}

h1 {
  font-size: 2.2rem;
}

/* NAVBAR */

#mainNavbar {
  font-size: 1.2rem;
  background: #000;
}

#mainNavbar .nav-link {
  color: whitesmoke;
  font-weight: 200px;
}

#mainNavbar .nav-link:hover {
  color: #fff200;
}

#mainNavbar .navbar-brand {
  color: #fff200;
  font-size: 1.5rem;
  font-weight: 100;
}

/* HEADER */

header {
  padding: 150px 0 40px 0;
  background-position: center center;
  background-size: cover;
  font-size: 3rem;
  text-align: center;
}

header h1 {
  font-size: 3.5rem;
}

header h1 span {
  color: #bab104;
}

@media (max-width: 800px) {
  header {
    margin-top: -80px;
  }
}

header a {
  cursor: pointer;
  font-size: 22px;
  color: white;
}


@media (max-width: 640px) {
  header .social-icon {
    display: none;
  }
}

.border-dark {
  border: 1px solid rgb(30, 23, 46);
  margin: 0 30px 0 30px;
}

@media screen and (min-width: 800px) {
  .border-dark {
    margin: 0 200px 0 200px;
  }
}

/* ABOUT */

#about {
  background-color: white;
  grid-template-areas:
    "img"
    "text";
  grid-gap: 10px;
  text-align: center;
  padding: 40px 0;
}

#about img {
  width: 80px;
  padding: 10px;
}

#about p {
  text-size-adjust: auto;
  margin: 0 auto;
  width: 80%;
}

/* ------ COMPANY SECTION -------- */

#company {
  text-align: center;
  padding: 10px 0 40px 0;
  background: white;
}

#company img {
  max-width: 200px;
  background: transparent;
  border-radius: 50%;
  background: whitesmoke;
  transition: 0.8s ease-in-out;
}

#company a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  color: black;
}

#company h1 {
  color: #000;
  font-weight: 100;
}

#company p {
  padding: 10px;
}

/* CONTACT */

#contact {
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}

#contact h2 {
  color: #000;
}

#contact p {
  padding: 15px;
}

#contact img {
  width: 80px;
  padding: 20px 0;
}

.social-icon {
  transform: translateY(-50%);
  text-align: center;
  margin-top: 100px;
}

.social-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #000;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #dcd9d970;
  color: white;
  overflow: hidden;
  position: relative;
}

.social-btn i {
  line-height: 50px;
  font-size: 26px;
  transition: 0.2s linear;
}

@media screen and (max-width: 700px) {
  .social-icon {
    margin-top: 90px;
  }
}

.social-btn:hover i {
  transform: scale(1.3);
  color: #000;
}

.social-btn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #fff200;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.social-btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    left: -10%;
    top: -10%;
  }
}

/* SKILLS */

#skills {
  padding: 40px 0;
  width: 100%;
}

.text-skill {
  width: 80%;
  margin: 10px auto;
  padding: 0;
  text-align: center;
}

#skills h1 {
  color: #000;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

#skills img {
  padding-bottom: 20px;
}

/* FOOTER */

footer {
  font-size: 1rem;
  color: whitesmoke;
  width: 100%;
  padding: 30px;
  background: #0E0B16;
  border-top: 1px solid #000;
  text-transform: uppercase;
}

.landing h2 {
  font-size: 2.2rem;
  font-weight: 100;
  color: #000;
}

.content {
  margin-top: 100px;
}

h1 span {
  color: whitesmoke;
}

i {
  font-size: 30px;
  margin: 0.5em auto 0.5em;
  ;
}

a {
  color: whitesmoke;
  text-decoration-color: none;
}

a i:hover {
  color: #000;
}

input:focus,
textarea:focus {
  border: transparent;
}