@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:500,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  display: block;
  min-width: 100%;
  margin-right: auto;
  margin-left: auto;
  float: right;
  clear: none;
  color: #1e1e1e;
  font-style: normal;
}

ul li {
  list-style: none;
}

h2 {
  font-size: 1.8rem;
  color: #3f3d56;
  font-weight: 900;
  position: relative;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.6px;
}

h2:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #618ee9;
  border-radius: 50%;
  bottom: 0;
  position: absolute;
}

a {
  cursor: pointer;
}

header {
  width: 100%;
  padding: 1rem 0;
  height: 100vh;
}

header .actions-desktop {
  display: none;
}

header .actions {
  padding: 0 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .actions img {
  margin: 0 5px;
  width: 30px;
}

header .actions .resume-btn {
  padding-top: 4px;
}

header .actions .resume-btn a {
  background-color: #5687E8;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}

header .actions .resume-btn a:hover {
  background-color: #4670c5;
}

header .content-header {
  padding: 3rem 0;
  border-radius: 5px;
  height: 450px;
  top: 50%;
  position: relative;
  margin-top: -225px;
}

header .content-header .sub-title {
  font-size: 1.2rem;
  padding: 0 2rem;
}

header .content-header .about-title-desktop {
  display: none;
}

header h1 {
  color: #3f3d56;
  font-size: 2.5rem;
  text-align: end;
  font-weight: 900;
  padding: 0 2rem;
  position: relative;
}

header h1:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #618ee9;
  border-radius: 50%;
  bottom: 0.7rem;
  position: absolute;
}

header h4 {
  color: #3f3d56a1;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  text-align: end;
  color: #618EE9;
}

header p {
  color: #484848;
  text-align: end;
  font-weight: 400;
  font-size: 1.7rem;
  padding: 1rem 2rem;
  line-height: 2.5rem;
  margin: 0;
}

header .socials-header {
  padding: 3rem 1rem 0rem 1rem;
}

header .socials-header a img {
  width: 30px;
}

header .image-me-desktop,
header .image-me-mobile {
  max-width: 80%;
  margin: 0 auto -6px 20px;
  mix-blend-mode: normal;
}

header .image-me-desktop {
  display: none;
}

.works-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.works-section img {
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

.works-section img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works-section .work {
  padding: 5rem 0;
}

.works-section .work em {
  font-weight: 100;
}

.works-section .work .project-links {
  padding: 1rem 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.works-section .work .project-links a {
  padding: 1rem;
  color: #fff;
  background-color: #618ee924;
  margin: 0 10px;
  border-radius: 50%;
}

.works-section .work .project-links img {
  width: 30px;
}

.works-section .iphone {
  width: 70%;
}

.works-section .desktop {
  max-width: 700px;
}

.works-section p {
  color: #61626d;
  padding: 1.3rem 0;
  line-height: 35px;
  font-size: 1.3rem;
}

.works-section p a {
  color: #5687e8;
}

.works-section .lan-tag {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.works-section .lan-tag li {
  padding: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 40px;
}

.works-section .lan-tag .js {
  background-color: #f7df1e;
}

.works-section .lan-tag .react {
  background-color: #00d8ff;
}

.works-section .lan-tag .firebase {
  background-color: #fcca3f;
}

.works-section .lan-tag .redux {
  background-color: #764abc;
}

.works-section .lan-tag .pwa {
  background-color: #a34a4a;
  color: #fff;
}

.about {
  padding: 2rem;
}

.about h2 {
  margin-bottom: 2rem;
}

.about img {
  width: 100%;
  margin-bottom: 2rem;
  background: #c1d6ff;
  border-radius: 5px;
}

.about p {
  color: #61626d;
  text-align: start;
  font-weight: 400;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

.skill-section {
  padding: 5rem 2rem;
}

.skill-section h2 {
  margin-bottom: 2rem;
}

.skill-section .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skill-section .skills li {
  width: 100px;
  text-align: center;
  padding: 1rem;
}

.skill-section .skills li img {
  width: 40px;
}

footer {
  padding: 2rem;
}

footer h2 {
  margin-bottom: 2rem;
}

footer p {
  color: #61626d;
  text-align: start;
  font-weight: 400;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

footer h5 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #5687e8;
  padding-bottom: 2rem;
}

footer a {
  color: #5687e8;
}

footer .social-links {
  padding: 2rem 0;
  width: 100%;
  text-align: start;
}

footer .social-links img {
  width: 30px;
  margin-right: 10px;
  color: #3f3d56;
}

footer .social-links a {
  text-decoration: none;
  color: #3f3d56;
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 1.3rem;
  }
  header {
    max-width: 750px;
    margin: 0 auto;
  }
  .works-section {
    padding: 5rem;
  }
  .works-section .odds:last-of-type {
    padding: 3rem 0;
  }
  .works-section .work {
    padding: 10rem 0;
  }
  .works-section .work p {
    line-height: 3rem;
  }
  .works-section .desktop {
    padding-bottom: 4rem;
  }
  .skill-section {
    padding: 5rem 2rem;
  }
  .skill-section .skills li img {
    width: 50px;
  }
  footer {
    padding: 12rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    max-width: 1000px;
    padding: 4rem 0;
  }
  header .actions {
    display: none;
  }
  header .actions-desktop {
    padding: 0 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .actions-desktop img {
    margin: 0 5px;
    width: 30px;
    -webkit-transition: -webkit-transform 50ms ease-in;
    transition: -webkit-transform 50ms ease-in;
    transition: transform 50ms ease-in;
    transition: transform 50ms ease-in, -webkit-transform 50ms ease-in;
  }
  header .actions-desktop .socials {
    padding-right: 2rem;
  }
  header .actions-desktop .socials img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  header .actions-desktop .resume-btn {
    padding-top: 4px;
  }
  header .actions-desktop .resume-btn a {
    background-color: #5687E8;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
  }
  header .actions-desktop .resume-btn a:hover {
    background-color: #4670c5;
  }
  header h1 {
    font-size: 4rem;
  }
  header h4 {
    font-size: 2rem;
    font-weight: 400;
    width: 800px;
    letter-spacing: 1.3px;
    text-align: center;
    position: fixed;
    left: 50%;
    z-index: 3;
    font-family: "Playfair Display", serif;
    background: transparent;
    top: 10px;
    margin-left: -400px;
    border-radius: 5px;
    color: #3f3d56;
  }
  header p {
    font-size: 1.5rem;
  }
  header .content-header {
    padding: 3rem 0;
    border-radius: 5px;
    height: 600px;
    top: 50%;
    position: relative;
    margin-top: -300px;
    background: #eef4ff;
  }
  header .content-header .about-title-desktop {
    display: inline-block;
    padding: 4rem 2rem;
    margin-left: 300px;
  }
  header .content-header .about-title {
    display: none;
  }
  header .content-header .image-me-desktop {
    display: inline-block;
    position: absolute;
    bottom: 100px;
    left: -180px;
    -webkit-box-shadow: 8px 6px 0px 5px #5687e80f, -3px -3px 9px 10px #5687e812;
            box-shadow: 8px 6px 0px 5px #5687e80f, -3px -3px 9px 10px #5687e812;
    background: #ffffff;
    border-radius: 5px;
  }
  .image-me-mobile {
    display: none;
  }
  .works-section {
    padding: 12rem 5rem;
  }
  .works-section .work {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
    place-content: center;
    place-items: center;
  }
  .works-section .work .lan-tag {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .works-section .odds img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .works-section .odds p {
    text-align: end;
  }
  .works-section .odds .lan-tag {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .works-section .odds .project-links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .about {
    display: none;
  }
  .skill-section {
    max-width: 1000px;
    background-color: #d7dce44a;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */