* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ====== NAV ====== */

nav {
  padding: 20px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;
}

.logo h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: 400;
  place-self: start;
  color: #002fa7;
}

.curriculum button {
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 2px solid #002fa7;
  color: #002fa7;
  border-radius: 290486px;
  text-transform: uppercase;
}

.curriculum button:hover {
  background: #002fa7;
  color: white;
}

.languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.lang a {
  width: 36px;
  padding: 5px 8px;
  text-decoration: none;
  color: black;
}

.selected a {
  background: #002fa7;
  color: white;
}

/* ====== HEADER ====== */

header {
  text-align: center;
  padding-top: 80px;
}

header h1 {
  font-size: 3rem;
}

header p {
  padding-top: 30px;
  font-size: 1.3rem;
  color: #000000c9;
}

.personal-emoji {
  width: 220px;
}

.header-bg-div {
  height: 400px;
}

.header-bg {
  width: 800px;
  position: relative;
  bottom: 0;
  z-index: 2;
}

/* ====== MIDDLE BANNER ====== */

.middle-banner {
  /* background: #0a2235; */
  background: #002fa7;
  color: white;
  position: relative;
  padding-bottom: 120px;
}

.about,
.skills,
.contact {
  padding: 40px 100px 100px 100px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.about h2,
.skills h2,
.contact h2,
.show-works h2,
.call-action h2 {
  font-size: 2rem;
  padding: 20px;
  font-weight: 700;
}

.about p,
.contact p,
.call-action p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: #ffffffc9;
}

/* ====== SKILLS ====== */

.skills {
  display: none;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  list-style-type: none;
  place-items: center;
  padding-top: 20px;
}

.skills i {
  font-size: 3rem;
}

/* ====== CONTACT ====== */

.contact {
  display: none;
}

.contact a {
  color: white;
  text-decoration: underline;
}

.socials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  place-items: center;
}

.socials i {
  font-size: 3rem;
}

.socials {
  padding-top: 30px;
}

/* ====== NAV BANNER ====== */

.nav-banner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.1rem;
  padding-top: 20px;
}

.btn-banner {
  color: white;
  padding: 15px 20px;
}

.btn-banner a {
  color: white;
  background: #0034b7;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-banner a:hover,
.btn-banner:active {
  background: #002480;
}

/* ====== MY RECENT WORKS ====== */

.show-works {
  position: relative;
  padding: 50px 0;
  bottom: 130px;
  background: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
}

.show-works p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.works {
  display: grid;
  justify-items: center;
  padding: 60px 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.work {
  width: 300px;
  background: whitesmoke;
  padding: 100px;
  border-radius: 20px;
}

/* ======= CALL TO ACTION ====== */

.call-action {
  width: 70%;
  margin: 0 auto;
  background: #222;
  color: white;
  padding: 50px;
  border-radius: 45px;
  box-shadow: 0 0 10px 0 #22222259;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  position: relative;
  top: 70px;
}

.call-action button {
  padding: 15px 20px;
  background: transparent;
  color: white;
  font-size: 1rem;
  border-radius: 2000px;
}

/* ======= FOOTER ======= */

footer {
  /* background: #c4dff6; */
  background: #002fa7;
  color: #ffffffd6;
  padding: 150px;
  text-align: center;
}

footer .logo h1 {
  color: white;
}

.philo-phrase {
  padding-top: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.copyright {
  padding-top: 50px;
}

footer .socials {
  width: 30%;
  margin: 0 auto;
}
